body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}
.login-container{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 300px;
}
.login-container h2{
    margin-bottom: 30px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container input[type="email"],
.login-container input[type="password"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0 ;
}
.login-container input[type="button"] {
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    
    
}
.login-container input[type="button"]:hover{
    background-color: rgb(77, 77, 78);
   
}